<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabi's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Fabi's blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit sapien tortor, et convallis risus malesuada eget. Nulla facilisi. Aliquam vel luctus sapien. Maecenas posuere vulputate risus. Maecenas sit amet condimentum elit. Quisque enim urna, vestibulum id metus viverra, aliquam sodales velit. Curabitur a velit augue. In at dolor vitae tellus aliquet interdum. In non est pellentesque, ultrices ex at, gravida urna. Ut rutrum lacus ornare pretium rutrum. Ut scelerisque eu felis eget dictum. Morbi quis odio lobortis, vulputate velit at, vulputate libero.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit sapien tortor, et convallis risus malesuada eget. Nulla facilisi. Aliquam vel luctus sapien. Maecenas posuere vulputate risus. Maecenas sit amet condimentum elit. Quisque enim urna, vestibulum id metus viverra, aliquam sodales velit. Curabitur a velit augue. In at dolor vitae tellus aliquet interdum. In non est pellentesque, ultrices ex at, gravida urna. Ut rutrum lacus ornare pretium rutrum. Ut scelerisque eu felis eget dictum. Morbi quis odio lobortis, vulputate velit at, vulputate libero.</p>
    </div>
</body>
</html>